@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Atkinson Hyperlegible Mono';
  src: url('/fonts/AtkinsonHyperlegibleMono-Italic-VariableFont_wght.ttf')
      format('woff2'),
    url('/fonts/AtkinsonHyperlegibleMono-VariableFont_wght.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
